[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
google-cloud-pubsub = "*"
dash-daq = "*"
dash-bootstrap-components = "*"
dash-auth = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-login = "*"
werkzeug = "*"
configparser = "*"
pymysql = "*"

[dev-packages]
pylint = "*"
pyorbital = "*"

[requires]
python_version = "3.8"
